# Default ignored files
/.idea/shelf/
/workspace.xml
.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.class
/out/*
.DS_Store